.list-wrapper{
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.main-section{
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.tablet-section{
    display: flex;
    flex-direction: row;
    width: 600px;
    gap: 20px;
    justify-content: space-around;
}

.mobile-section{
    display: flex;
    flex-direction: column;
}