.task-1{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
}

.app-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: blue;
    padding: 0;
    justify-content: space-between;
}

.task-h{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 15px 0;
}

.page-footer{
    width: 950px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 250px;
    padding: 20px 0;
    border-top: 1px solid grey;
}

.footer-text{
    margin: 0;
    display: flex;
    font-size: 18px;
}